.header{
    text-align: center;
    font-size: 14pt;
}

#logo{
    width: 60%;
    max-width: 500px;
}

#infografico{
    width: 80%;
}

#resumo{
    text-align: justify;
    line-height: 35px;
    font-size: 14pt;
}

