.header{
    text-align: center;
    font-size: 14pt;
}

.shadow{
    box-shadow: 3px 3px 3px #ddd;
}

.container{
    padding-top: 100px;
}

.foto{
    width: 50%;
}

#logo{
    width: 60%;
    max-width: 500px;
}

#logo-navbar{
    width: 130px;
}

#infografico{
    width: 90%;
}
.text-note{
    text-align: justify;
    line-height: 35px;
    font-size: 14pt;
}

